<%- model_class = TestNote -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @test_note.note %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              test_notes_path, :class => 'btn btn-default btn-custom'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_test_note_path(@test_note), :class => 'btn btn-default btn-custom' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              test_note_path(@test_note),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-custom' %>
