<div class="page-header">
  <h1>Results for <%= @signature_year.year %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Student number</th>
      <th>Test</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @test_notes.each do |test_note| %>
      <tr>
        <td><%= link_to test_note.student.number, student_path(test_note.student) %></td>
        <td><%= link_to test_note.test.title, test_path(test_note.test) %></td>
        <td><%= link_to test_note.note, test_note_path(test_note) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.index', :default => t("helpers.links.index")),
            signature_years_path,
            :class => 'btn btn-default' %>
