<div class="page-header">
  <h1><%= t('.title', signature_year: @signature_year.year) %></h1>
  <h3><%= t '.subtitle' %></h2>
  <div class="resume">
    <p><strong><%= t '.total_approved' %> </strong><%= @totals[:approved] %></p>
    <p><strong><%= t '.total_disapproved' %> </strong><%= @totals[:disapproved] %></p>
    <p><strong><%= t '.total_ausent' %> </strong><%= @totals[:ausent] %></p>
    <p><strong><%= t '.approved_average' %> </strong><%= "#{@totals[:approved_average].round(2)}%" %></p>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t '.table.columns.student' %></th>
      <th><%= t '.table.columns.test' %></th>
      <th><%= t '.table.columns.note' %></th>
      <th><%= t '.table.columns.approved?' %></th>
    </tr>
  </thead>
  <tbody>
    <% @test_notes.each do |test_note| %>
      <tr>
        <td><%= link_to test_note.student.number, student_path(test_note.student) %></td>
        <td><%= link_to test_note.test.title, test_path(test_note.test) %></td>
        <td><%= link_to test_note.note || t('.table.values._ausent'), test_note_path(test_note) %></td>
        <td><%= t ".table.values._#{test_note.approved?}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.index', :default => t("helpers.links.index")),
            signature_years_path,
            :class => 'btn btn-default btn-custom' %>
