<div class="page-header">
  <h1><%= t('.title', signature_year: @signature_year.year) %></h1>
  <h3><%= t '.test_resume_subtitle' %></h3>
  <% @totals.each do |tn| %>
    <p>Nombre:<%= tn[:name] %>, Total de aprobados: <%= tn[:total_approved] %>, Total desaprobados: <%= tn[:total_disapproved] %>, Total ausentes: <%= tn[:total_ausent] %>, Procentaje de aprobados: <%= tn[:approved_average] %></p>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t '.table.columns.student' %></th>
      <th><%= t '.table.columns.test' %></th>
      <th><%= t '.table.columns.note' %></th>
      <th><%= t '.table.columns.approved?' %></th>
    </tr>
  </thead>
  <tbody>
    <% @test_notes.each do |test_note| %>
      <tr>
        <td><%= link_to test_note.student.number, student_path(test_note.student) %></td>
        <td><%= link_to test_note.test.title, test_path(test_note.test) %></td>
        <td><%= link_to test_note.note || t('.table.values._ausent'), test_note_path(test_note) %></td>
        <td><%= t ".table.values._#{test_note.approved?}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.index', :default => t("helpers.links.index")),
            signature_years_path,
            :class => 'btn btn-default btn-custom' %>
